@import '../../styles';

html, body {
  min-height: 100vh;
  font-family: $font--primary, sans-serif;
  color: $color--primary;
}

.container {
  max-width: 1198px;
  height: 100%;
  margin: auto;
}

.image-wrapper {
  @include flex-layout();
  align-items: center;
  height: 100%;
}
